<h1>Admin panel</h1>
<a href="/create_item">Create item</a>
{{#if massiv.length}}
<div>
    <h2>All items</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Enabled</th>
            <th>Type</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {{#each massiv}}
        <form id={{_id}}>
        <tr>
            <td>{{name}}</td>
            <td>{{description}}</td>
            <td>{{price}}</td>
            <td>{{enabled}}</td>
            <td>{{type}}</td>
            <td>
                <input type="submit" form={{_id}} formaction="/edit_item" formmethod="post">
            </td>
            <td>
                <input type="submit" form={{_id}} formaction="/delete_item" formmethod="get">
            </td>

        <input type="hidden" name="_id" value="{{_id}}"></input>
        <input type="hidden" name="name" value="{{name}}"></input>
        <input type="hidden" name="description" value="{{description}}"></input>
        <input type="hidden" name="price" value="{{price}}"></input>
        <input type="hidden" name="enabled" value="{{enabled}}"></input>
        <input type="hidden" name="type" value="{{type}}"></input>

        </tr>
        </form>
        {{/each}}
    </table>
</div>
{{else}}
<h3>No items</h3>
{{/if}}